.card{
    padding: 20px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background: #90e0ef;
    border-bottom: 6px solid #0077b6;
    text-align: center;
    color: rgb(70, 11, 11);
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}

.me{
    width: 150px;
    border-radius: 400px;
    transition: all 0.2s ease-in-out;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}
.me:hover{
    transform: scale(1.05);
    filter: brightness(1.1);

}
.card:hover{
    transform: scale(1.05);
}
.text:hover{
    transform:scale(1.1);
}
.text{
    transition:0.5s all ease-in-out;
}